$bg-color: #20232a;
html,body{
    padding: 0;
    margin: 0;
}
#root{
    width: 100vw;
    height: 100vh;
    background-color: #{$bg-color};
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .WelcomeToReact{
        width: 30vw;
        height: 10vh;
    }
    .HelloWorld{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 10vh;
        p{
            width: 50%;
            text-align: center;
            text-overflow: ellipsis;
            color: white;
        }
    }
}